.img
{   
    height: 500px;
    background-image: url(../Imeags.jsx/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.filtered{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.info
{
    font-family: cursive;
    color: white;
    background-color: rgba(245, 243, 233, 0.397);
}