@tailwind base;
@tailwind components;
@tailwind utilities;

.garden-image {
  background-image: url("https://image.wedmegood.com/resized/1000X/uploads/member/4174446/1701420205_WhatsApp_Image_2023_12_01_at_00.39.42__2_.jpeg?crop=0,0,2048,1152");
  background-size: cover;
  background-position-y: -13rem;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.garden-image:hover {
  background-image: url("https://image.wedmegood.com/resized/1000X/uploads/member/4174446/1701420205_WhatsApp_Image_2023_12_01_at_00.39.42__2_.jpeg?crop=0,0,2048,1152");
  background-size: cover;
  background-position-y: -13rem;
  filter: none;
  -webkit-filter: grayscale(0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  animation-duration: 500;
}

.hotel-image {
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/a1/9c/80/essentia-luxury-hotel.jpg?w=700&h=-1&s=1");
  background-size: cover;
  background-position: center;
}

.bride-image {
  background-image: url("https://lh4.googleusercontent.com/uWbGQtbnkkRA0i-zDNfnTDDd1fMwIFfgfIn3d2k8oQy0AFtiJ5MI2_ph1nGiwTj--BUEqzUpBzgUlnII3Tmc0hteyf5Ewtzf4XR2Rxb8mXFx8Z8UfbKlIoXhcJ0gWPLbIe_m5Wvtemy4LzUMyoX4IIU");

  background-position-y: -12rem;
}
